<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  <!-- bootstrap dependency -->
    <script crossorigin="anonymous"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
/* TODO: extract to a static css file */
/* Copy tr and td styles from bootstrap.css to also apply to .d-table-row and .d-table-cell */
.table .d-table-row,
.table .d-table-cell {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table .thead {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
}
</style>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="table bg-light text-dark d-table">
    <div class="d-table-row thead">
            <div class="d-table-cell">Name</div>
            <div class="d-table-cell">Price</div>
            <div class="d-table-cell">In basket</div>
            <div class="d-table-cell">Total cost</div>
    </div>
    <!--/*@thymesVar id="entries" type="java.lang.Iterable<java.util.Map.Entry<group7.entity.Beverage, java.lang.Integer>>"*/-->
    <div class="d-table-row" th:each="entry: ${entries}">
        <div class="d-table-cell"><a th:href="@{|../#item_${entry.key.getId()}|}" th:text="${entry.key.name}"></a></div>
        <div class="d-table-cell" th:text="${entry.key.price}"></div>
        <form class="d-table-cell" method="POST">
            <!--            <input name="_csrf" th:value="${_csrf.token}" type="hidden" />-->
            <input name="beverage" th:value="${entry.key.getId()}" type="hidden" />
            <input type="submit" class="btn" th:disabled="${entry.value <= 0}" value="-" formaction="remove" />
            <span th:text="${entry.value}"></span>
            <input type="submit" class="btn" value="+" formaction="add" />
        </form>
        <div class="d-table-cell" th:text="${entry.key.price * entry.value}"></div>
    </div>
</div>
<form method="POST" action="../order/submit" class="container">
    <!--    <input name="_csrf" th:value="${_csrf.token}" type="hidden" />-->
    <input type="submit" class="btn btn-primary" value="Submit order" />
</form>
</body>
</html>
