<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  <!-- bootstrap dependency -->
    <script crossorigin="anonymous"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
/* TODO: extract to a static css file */
/* Copy tr and td styles from bootstrap.css to also apply to .d-table-row and .d-table-cell */
.table .d-table-row,
.table .d-table-cell {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table .thead {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
}
</style>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<!-- TODO: rewrite using rowspan (no longer possible when using "display: table" instead of table tags) -->
<div class="table bg-light text-dark d-table">
    <div class="d-table-row thead">
        <div class="d-table-cell">Content</div>
        <div class="d-table-cell">Order price</div>
    </div>
    <!--/*@thymesVar id="orders" type="java.lang.Iterable<group7.entities.Order>"*/-->
    <div class="d-table-row" th:each="order: ${orders}">
        <div class="d-table-cell" style="padding: 0;"><div class="table bg-light text-dark d-table">
            <div class="d-table-row thead">
                <div class="d-table-cell">Name</div>
                <div class="d-table-cell">Item price</div>
            </div>
            <div class="d-table-row" th:each="item: ${order.orderItems}">
                <div class="d-table-cell" th:text="${item.beverage.name}"></div>
                <div class="d-table-cell" th:text="${item.price}"></div>
            </div>
        </div></div>
        <div class="d-table-cell" th:text="${order.price}"></div>
    </div>
</div>
</body>
</html>
