<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  <!-- bootstrap dependency -->
    <script crossorigin="anonymous"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!-- TODO: rewrite using rowspan -->
<table class="table bg-light text-dark">
    <thead><tr>
        <td>Content</td>
        <td>Order price</td>
    </tr></thead>
    <!--/*@thymesVar id="orders" type="java.lang.Iterable<group7.entities.Order>"*/-->
    <tr th:each="order: ${orders}">
        <td><table>
            <thead><tr>
                <td>Name</td>
                <td>Item price</td>
            </tr></thead>
            <tr th:each="item: ${order.orderItems}">
                <td th:text="${item.beverage.name}"></td>
                <td th:text="${item.price}"></td>
            </tr>
        </table></td>
        <td th:text="${order.price}"></td>
    </tr>
</table>
</body>
</html>