<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beverages</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  <!-- bootstrap dependency -->
    <script crossorigin="anonymous"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Separate bottles</h2>
<table class="table bg-light text-dark">
    <thead><tr>
        <td>Picture</td>
        <td>Name</td>
        <td>Volume</td>
        <td>Alcohol percent</td>
        <td>Supplier</td>
        <td>Bottles in stock</td>
        <td>Bottle price</td>
        <td>Add to basket</td>
    </tr></thead>
    <!--/*@thymesVar id="bottles" type="group7.entity.Bottle[]"*/-->
    <a th:each="bottle: ${bottles}" th:name="@{|item_${bottle.getId()}|}">
        <tr>
            <td><img th:src="${bottle.bottlePic}" /></td>
            <td th:text="${bottle.name}"></td>
            <td th:text="${bottle.volume}"></td>
            <td th:text="${bottle.volumePercent}"></td>
            <td th:text="${bottle.supplier}"></td>
            <td th:text="${bottle.inStock}"></td>
            <td th:text="${bottle.price}"></td>
            <td><form method="POST" target="_blank">
                <!--            <input name="_csrf" th:value="${_csrf.token}" type="hidden" />-->
                <input type="submit" class="btn" th:disabled="${bottle.inStock <= 0}" value="+" th:formaction="@{|basket/${bottle.getId()}/increment|}" />
            </form></td>
        </tr>
    </a>
</table>
<h2>Crates</h2>
<table class="table bg-light text-dark">
    <thead><tr>
        <td>Picture</td>
        <td>Contained bottles</td>
        <td>Bottles per crate</td>
        <td>Bottle volume</td>
        <td>Alcohol percent</td>
        <td>Bottle supplier</td>
        <td>Crates in stock</td>
        <td>Crate price</td>
        <td>Add to basket</td>
    </tr></thead>
    <!--/*@thymesVar id="crates" type="group7.entity.Crate[]"*/-->
    <a th:each="crate: ${crates}" th:name="@{|item_${crate.getId()}|}">
        <tr>
            <td><img th:src="${crate.cratePic}" /></td>
            <td th:text="${crate.bottle.name}"></td>
            <td th:text="${crate.noOfBottles}"></td>
            <td th:text="${crate.bottle.volume}"></td>
            <td th:text="${crate.bottle.volumePercent}"></td>
            <td th:text="${crate.bottle.supplier}"></td>
            <td th:text="${crate.cratesInStock}"></td>
            <td th:text="${crate.price}"></td>
            <td><form method="POST" target="_blank">
                <!--            <input name="_csrf" th:value="${_csrf.token}" type="hidden" />-->
                <input type="submit" class="btn" th:disabled="${crate.cratesInStock <= 0}" value="+" th:formaction="@{|basket/${crate.getId()}/increment|}" />
            </form></td>
        </tr>
    </a>
</table>
</body>
</html>